# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# OS index files
.DS_Store 
*/.DS_Store

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist